@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.App-content-banner {
    background-color: #D9FDFF;
    min-height: 400px;
    margin-top: 20px;
    color: black;
}

.App-content-banner-title {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin-left: 322px;
    margin-top: 0;
    margin-bottom: 0; 
    padding-top: 130px;
}

.App-content-banner-description {
    font-family: 'Inter', sans-serif;
    font-size: 19px;
    margin-left: 322px;
    margin-top: 16px;
    margin-bottom: 0; 
}

.App-content-banner-button-wrapper {
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    margin-left: 322px;
    margin-top: 25px;
    margin-bottom: 0; 
    background-color: #FFB1B1;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center; 
}

.App-content-banner-button-wrapper:hover {
    background-color: #c27e7e;
}

.App-content-banner-button-link {
    text-decoration: none;
}

.App-content-block {
    margin-left: 322px;
    margin-top: 60px;
}

.App-content-block-title {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 600;
    max-width: 630px;
}

.App-content-block-text {
    font-family: 'Inter', sans-serif;
    font-size: 19px;
    max-width: 1300px;
}